.section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Añadido para permitir el ajuste responsivo */
}

.section-1 div {
    flex-basis: calc(33.33% - 20px); 
    height: 200px; 
    margin-bottom: 20px;
    padding: 20px;
    background-color: bisque;
    text-align: center;
    border-radius: 1rem;
    box-sizing: border-box;
}


