.section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.section-2 div {
    text-align: center;
    padding: 20px;
    border-radius: 1rem;
    background-color: bisque;
}